* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 3px solid #2a2a2a;
  border-radius: 10px;
  width: 450px;
  padding-top: 15px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
  gap: 20px;
}

.p-image {
  background-color: #606060;
  border-radius: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  height: 100%;
}

.p-name {
  color: #2a2a2a;
  font-size: 35px;
}

.p-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.p-attribute {
  border: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  gap: 10px;
  background-color: #606060;
  padding: 15px;
}

.p-stats {
  font-weight: 700;
}
