.friendList {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.friendItem {
  border: 1px solid #2a2a2a;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 75px;
}

.friendName {
  font-size: 25px;
}

.online {
  color: #00d600;
}

.offline {
  color: #d60000;
}
